[submodule "3rd/lua-cjson"]
	path = 3rd/lua-cjson
	url = https://github.com/cloudwu/lua-cjson
[submodule "skynet"]
	path = skynet
	url = https://github.com/wilsonloo/skynet.git
[submodule "3rd/luaprofile"]
	path = 3rd/luaprofile
	url = https://github.com/wilsonloo/luaprofile.git
